:root {
    --font-sans-serif: "museo-sans", sans-serif;
    --dark-gray-1: #484848;
    --light-gray-1: #f8f8f8;
    --red: #d12f25;
    --dark-red: #9c211a;
    --blue: #505dc7; 
}

/* Typography Defaults */

body {
    font-family: var(--font-sans-serif);
    color: var(--dark-gray-1);
    line-height: 1.5;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem; 
}


a {
    color: var(--dark-gray-1);
    font-weight: 700;
    text-decoration: none;
}

a p {
    color: var(--red);
    text-decoration: underline;
}

a:hover :is(h1,h2,h3,h4) {
    color: var(--red);
}

a:hover p {
    color: var(--dark-red);
}

img {
    max-width: 100%;
    display: block;
}

/* Components */

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__img-button img {
    display: inline-block;
}

.component__code {
    border: 1px solid #ccc;
}

/* Buttons */

.button {
    border: none;
    border-radius: 20px;
    padding: 0.4rem;
    color: white;
    background: var(--red);
    font-size: 0.75rem;
    font-weight: 700;
}

.button--clear {
    border: 1px solid var(--red);
    color: var(--red);
    background: none;
    font-size: 0.87rem;
}

.button--large {
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem;
}

a:hover .button--large {
    background: var(--dark-red);
}

.button--blue {
    background: var(--blue);
}

.button--icon {
    background: var(--light-gray-1);
    color: var(--dark-gray-1);
    font-size: 1rem;
    padding: 0.4rem 0.7rem;
}

/* Footer */


footer > a:hover :is(h1,h2,h3,h4) {
    text-decoration: underline var(--dark-red);
    color: var(--dark-gray-1);
}

/* Section */

section > a:hover {
    background: var(--dark-red);
}