:root {
    --font-sans-serif: "museo-sans", sans-serif;
    --dark-gray-1: #484848;
    --red: #d12f25;
}
body {
    font-family: var(--font-sans-serif);
    color: var(--dark-gray-1);
    line-height: 1.5;
}

a {
    color: var(--red);
    font-weight: 700;
}