<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Components | Nintendo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link href="../css/normalize.css" rel="stylesheet" />
        <link href="../css/main.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.typekit.net/xnj1naz.css">
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__img">
                <img src="img/body-copy.png" srcset="img/body-copy.png 2x" alt="body copy">
            </div>    
            <div class="component__code">
                <h4>Mario Kart World Direct revs up new details on the biggest Mario Kart ever, coming to Nintendo Switch 2 at launch</h4>
                <p>Roll Out With Mario and Friends Across an Interconnected World Featuring Up to 24 Drivers in Grand Prix Races, Chaotic Knockout Tours, Battle Mode...</p>                
                <a href="#!"><p>Read more</p></a>
            </div>
        </article>

        <hr>

        <article class="component">
            <h3 class="component__name">headings (h1, h2, ...) </h3>
            <div class="component__img">
                <img src="img/h2.png" srcset="img/h2.png 2x" alt="h2">
                <img src="img/h3.png" srcset="img/h3.png 2x" alt="h3">
                <img src="img/h4.png" srcset="img/h4.png 2x" alt="h4">  
            </div>
            <div class="component__code">
                <h2>Featured</h2>
                <h3>Shop games, exclusive Nintendo merchandise, and more! Plus, get free shipping on orders $50 and over.</h3>                
                <h4>Celebrate Fire Emblem with My Nintendo digital rewards and with Fire Emblem Heroes in-game events</h4>
            </div>
        </article>

        <hr>

        <article class="component">
            <h3 class="component__name">buttons</h3>
            <div class="component__img-button">
                <img src="img/button_01.png" srcset="img/button_01.png 2x" alt="button 01">
                <img src="img/button_02.png" srcset="img/button_02.png 2x" alt="button 02">
                <img src="img/button_03.png" srcset="img/button_03.png 2x" alt="button 03">
                <img src="img/button_04.png" srcset="img/button_04.png 2x" alt="button 04">
                <img src="img/button_05.png" srcset="img/button_05.png 2x" alt="button 05">
            </div>
            <div class="component__code">
                <a href="#!" class="button button--clear">Log in / Sign up</a>
                <a href="#!" class="button button--large">Learn more</a>
                <a href="#!" class="button">Shop now</a>
                <a href="#!" class="button button--blue">Learn more</a>
                <a href="#!" class="button button--icon"><i class="fa-solid fa-heart"></i></a>
            </div>
        </article>

        <hr>

        <article class="component">
            <h3 class="component__name">links: default and hover states</h3>
            <div class="component__img">
                <img src="img/links_01.png" srcset="img/links_01.png 2x" alt="links 01">
            </div>
            <div class="component__code">
                <a href="#!">
                    <h4>Mario Kart World Direct revs up new details on the biggest Mario Kart ever, coming to Nintendo...</h4>
                    <p>Read more</p>
                </a>
                <a href="#!">
                    <h4>Partner Spotlight Sale: Save up to 50% on select digital games</h4>
                    <p>Read more</p>
                </a>
            </div>
            <div class="component__img">
                <img src="img/links_02.png" srcset="img/links_02.png 2.5x" alt="links 02">
            </div>
        <!--
            <footer>
                <a href="#!"><h4>About Nintendo</h4></a>
                <a href="#!"><h4>Shop</h4></a>
            </footer>
-->
            <div class="component__img-button">
                <img src="img/button_link.png" srcset="img/button_link.png 2x" alt="button link">
                <img src="img/button_link_hover.png" srcset="img/button_link_hover.png 2x" alt="button link hover">
            </div>

            <section>
                <a href="#!" class="button button--large">Start shopping</a>
                <a href="#!" class="button button--large">See all news articles</a>
            </section>
        </article>

        <hr>

        <h3 class="component__name">product/news cards</h3>

        <div class="carousel">
        <article class="card">
            <a href="#!">
            <div class="zoom-img">
            <img src="img/spotlight_sale.avif" alt="spotlight sale">
            </div>
            <h4 class="">Save on select hit games. Now through 4/27 @ 11:59 p.m. PT.</h4>
            </a>
            <div class="card-text">
            <p><a href="#!" class="button">Shop now</a></p>
            <p class="card-tag">Nintendo Switch</p>
            </div>
        </article>

        <article class="card">
            <a href="#!">
            <div class="zoom-img">
            <img src="img/ns2_small.avif" alt="nintendo switch 2">
            </div>
            <h4 class="">Games coming to Nintendo Switch 2</h4>
            </a>
            <div class="card-text">
            <p><a href="#!" class="button button--blue">Learn more</a></p>
            </div>
        </article>
        </div>

        <hr>
    
        <h3 class="component__name">sections</h3>
        <h2>Online store</h2>
        <div class="section">
        <div class="banner">
        <img src="img/mns_banner.png" alt="my nintendo store">
        </div>
        <div class="sectionheading">
        <p>Shop games, exclusive Nintendo merchandise, and more! Plus, get free shipping on orders $50 and over.</p>
        </div>
        <div class="sectionbutton">
        <a href="#!" class="button button--large">Start shopping</a>
        </div>
        </div>
        <hr>

        <h3 class="component__name">footer</h3>
        <div>Nintendo</div>
        <footer>
        <div class="column">
            <ul class="footer__list">
                <li class="footerlist__heading"><a href="#!"><h3>About Nintendo</h3></a></li>
                <li><a href="#!">Careers</a></li>
                <li><a href="#!">Corporate Social Responsibility</a></li>
            </ul>
        </div>
        <div class="column">
            <ul class="footer__list">
                <li class="footer__list__heading"><a href="#!"><h3>Shop</h3></a></li>
                <li><a href="#!">Games</a></li>
                <li><a href="#!">Hardware</a></li>
                <li><a href="#!">Merchandise</a></li>
                <li><a href="#!">Sales & deals</a></li>
                <li><a href="#!">Exclusives</a></li>
                <li><a href="#!">Online service</a></li>
                <li><a href="#!">Nintendo Retail Locations</a></li>
            </ul>
        </div>
        <div class="column">
            <ul class="footer__list">
                <li class="footer__list__heading"><a href="#!"><h3>Orders</h3></a></li>
                <li><a href="#!">Order details</a></li>
                <li><a href="#!">Shipping info</a></li>
                <li><a href="#!">Refunds and returns</a></li>
                <li><a href="#!">FAQ</a></li>
            </ul>
        </div>
        <div class="column">
            <ul class="footer__list">
                <li class="footer__list__heading"><a href="#!"><h3>Support</h3></a></li>
                <li><a href="#!">Nintendo Switch</a></li>
                <li><a href="#!">Nintendo Account</a></li>
                <li><a href="#!">Other systems</a></li>
                <li><a href="#!">Repairs</a></li>
                <li><a href="#!">Nintendo product recycling</a></li>
                <li><a href="#!">Warranty</a></li>
                <li><a href="#!">Licensed prdouct information</a></li>
            </ul>
        </div>
        <div class="column column--short">
            <ul class="footer__list">
                <li class="footer__list__heading"><a href="#!"><h3>Parents</h3></a></li>
                <li><a href="#!">Info for parents</a></li>
                <li><a href="#!">Parental controls</a></li>
            </ul>
        </div>
        <div class="column column--short">
            <ul class="footer__list">
                <li class="footer__list__heading"><a href="#!"><h3>Privacy</h3></a></li>
                <li><a href="#!">Privacy policy</a></li>
                <li><a href="#!">Cookies and interest-based ads</a></li>
            </ul>
        </div>
        <div class="column column--short">
            <ul class="footer__list">
                <li class="footer__list__heading"><a href="#!"><h3>Community</h3></a></li>
                <li><a href="#!">Community guidelines</a></li>
                <li><a href="#!">Online safety</a></li>
            </ul>
        </div>
        <div class="column column--short">
            <ul class="footer__list">
                <li class="footer__list__heading"><a href="#!"><h3>Documents & policies</h3></a></li>
                <li><a href="#!">Health & safety precautions</a></li>
                <li><a href="#!">Wireless regulatory info</a></li>
                <li><a href="#!">Supply chain transparency</a></li>
            </ul>
        </div>
        </footer>
    </body>
</html>